<%- include('partials/header', { title: 'Admin List' }) %>
  <table border="1">
    <thead>
      <tr>
        <th>Name</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Email</th>
        <th>Phone Num</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(member => { %>
        <tr>
          <td><%= member.name %></td>
          <td><%= member.gender %></td>
          <td><%= member.age %></td>
          <td><%= member.email %></td>
          <td><%= member.tel %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<%- include('partials/footer') %>