<%- include('partials/header', { title: 'The Authors' }) %>  
  <table border="1">
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Books</th>
    </tr>
    <% data.forEach(author => { %>
      <tr>
        <td><%= author.name %></td>
        <td><%= author.gender %></td>
        <td><%= author.age %></td>
        <td>0</td>
      </tr>
    <% }) %>
  </table>
<%- include('partials/footer') %>