<%- include('partials/header', { title: 'The Authors' }) %>  
  <table border="1">
    <thead>
      <tr>
        <th>Name</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Books</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(author => { %>
        <tr>
          <td><%= author.name %></td>
          <td><%= author.gender %></td>
          <td><%= author.age %></td>
          <td><%= author.Books.length %></td>
          <td>
            <a href="/authors/books/<%=author.id%>">Books</a>
            <a href="/authors/delete/<%=author.id%>">Delete</a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<%- include('partials/footer') %>