<%- include('template/header', { pageTitle: "Detail Buku" }); %>

<h2>Head First JavaScript Programming: A Brain-Friendly Guide 1st Edition</h2>

<div class="book-detail">
    <img src="<%= book.cover %>" height="400">
    <div>
        <ul>
            <li>Penulis</li>
            <li><%= book.tahun_terbit %></li>
            <li>Jumlah tersedia: <%= book.stock %></li>
            <li>Penerbit</li>
        </ul>
        <!-- todo: Tambah kondisional kalau buku ga ada ga muncul tombol pinjam -->
        <div><a href="/book/<%= book.id %>/pinjam">Pinjam</a></div>
    </div>
</div>

<%- include('template/footer'); %> buku, author, penerbit, yang lagi pinjam, sign out