<%- include('partials/header', { title: 'Login' }) %>
<h2>List of Current Active Rents</h2>
<table class="table" border="1">
    <thead>
        <tr>
            <td>Member</td>
            <td>Judul</td>
            <td>Start Rent Date</td>
            <td>Deadline Date</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        <% rents.forEach(rent => { %>
            <tr>
                <td> <%= rent.name %> </td>
                <td> <%= rent.book_title %> </td>
                <td> <%= rent.start %></td>
                <td> <%= rent.deadline %></td>
                <td> <a href="/finish-rent/<%= rent.user_id %>/<%= rent.book_id %>">Finish Rent</a></td>
            </tr>
        <% }) %>
    </tbody>
</table>
<%- include('partials/footer') %>