<%- include('partials/header', { title: 'Publisher List' }) %>
  <table border="1">
    <thead>
      <tr>
        <th>Name</th>
        <th>Rating</th>
        <th>Books</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(publisher => { %>
        <tr>
          <td><%= publisher.name %></td>
          <td><%= publisher.rating %></td>
          <td><%= publisher.Books.length %></td>
          <td>
            <a href="/publishers/delete/<%=publisher.id%>">Delete</a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<%- include('partials/footer') %>